<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";

const CounterStore = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent></FirstComponent>
        <v-btn @click="CounterStore.increment" class="ma-4"> INCREMENT </v-btn>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
        <v-btn @click="CounterStore.decrease" class="ma-4"> DECREASE </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
