<script lang="ts">
import { watch, reactive, computed } from "vue";

export default {
  //defaulttext
  setup() {
    const state = reactive({
      num: 0,
      error: false,
    });

    watch(
      () => state.num,
      (newValue) => {
        if (newValue.toString() === "") {
          state.error = true;
        } else {
          state.error = false;
          console.log("false");
        }
      }
    );

    const rowsArray = computed(() => {
      const rows = [];
      let currentRow = 1;
      for (let i: number = 1; i <= state.num; i++) {
        if (i % 12 === 1) {
          rows[currentRow] = [i];
        } else {
          rows[currentRow].push(i);
        }
        if (i % 12 === 0) currentRow++;
      }
      return rows;
    });
    return {
      state,
      rowsArray,
    };
  },
};
</script>
<style>
table {
  width: 100%;
}
td {
  width: 8.333%;
  height: 50px;
  text-align: center;
}
</style>

<template>
  <v-container>
    <div>
      <v-text-field
        v-model="state.num"
        label="Please Input Number"
        required
        :rules="[(v) => !!v || 'Number is not empty!!']"
      ></v-text-field>
      <table v-if="state.num > 0" class="">
        <tr v-for="row in rowsArray" :key="row">
          <td v-for="n in row" :key="n">{{ n }}</td>
        </tr>
      </table>
    </div>
  </v-container>
</template>
