<script lang="ts">
export default {
  data() {
    return {
      Image: 1,
      angry: "feeling_imgs\\angry.png",
      cute: "feeling_imgs\\cute.png",
      excited: "feeling_imgs\\excited.png",
      pain: "feeling_imgs\\pain.png",
      shocked: "feeling_imgs\\shocked.png",
      smile: "feeling_imgs\\smile.png",
      status: "Angry",
    };
  },
  methods: {
    ChangeImage(num: number) {
      this.Image = num;
      switch (num) {
        case 1:
          this.status = "Angry";
          break;
        case 2:
          this.status = "Cute";
          break;
        case 3:
          this.status = "Excited";
          break;
        case 4:
          this.status = "Pain";
          break;
        case 5:
          this.status = "Shocked";
          break;
        case 6:
          this.status = "Smile";
          break;
      }
    },
  },
};
</script>
<template>
  <v-container
    ><div class="float-left">
      <img v-if="Image === 1" :src="angry" />
      <img v-if="Image === 2" :src="cute" />
      <img v-if="Image === 3" :src="excited" />
      <img v-if="Image === 4" :src="pain" />
      <img v-if="Image === 5" :src="shocked" />
      <img v-if="Image === 6" :src="smile" />
    </div>
    <div>
      <v-row>
        <v-col>
          <h1 class="text-center">{{ status }}</h1>
        </v-col>
      </v-row>
      <v-row
        ><v-col>
          <v-btn class="textButton" @click="ChangeImage(1)">ANGRY</v-btn>
        </v-col>
      </v-row>
      <v-row
        ><v-col>
          <v-btn class="textButton" @click="ChangeImage(2)">CUTE</v-btn>
        </v-col>
      </v-row>
      <v-row
        ><v-col>
          <v-btn class="textButton" @click="ChangeImage(3)">EXCITED</v-btn>
        </v-col>
      </v-row>
      <v-row
        ><v-col>
          <v-btn class="textButton" @click="ChangeImage(4)">PAIN</v-btn>
        </v-col>
      </v-row>

      <v-row
        ><v-col>
          <v-btn class="textButton" @click="ChangeImage(5)">SHOCKED</v-btn>
        </v-col>
      </v-row>

      <v-row
        ><v-col>
          <v-btn class="textButton" @click="ChangeImage(6)">SMILE</v-btn>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<style scoped>
.textButton {
  width: 600px;
  margin-left: 55px;
  border: 5px;
}
.textButton:hover {
  background-color: yellow;
}
</style>
