<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const CounterStore = useCounterStore();
</script>
<template>
  <h4 class="ma-4 text-h6">First Component</h4>
  <h4 class="ma-4">{{ CounterStore.count }}</h4>
</template>
